body{
    text-align: center;
    background-color: rgb(43, 40, 40);
}

img {
    width: 4%;
    height: 4%;
  }

h1{
    font-family: 'Rubik Wet Paint', cursive;
    color: white;
}

p{
    color: white;
}

footer {
    background-color: #322f2f;
    color: #fff;
    padding: 25px;
    /* text-align: center; */
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .coluna-esquerda {
    float: left;
    width: 48%;
    color: white;
  }
  
  .coluna-direita {
    float: right;
    width: 50%;
  }
  
  img {
    width: 90%;
    height: auto;
  }